/*Hoja de estilos con los estilos necesarios para el funcionamiento del carrusel*/
/*Carrusel principal*/
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*Recorrido del carrusel*/
.carousel-track {
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
}
/*Calculadoras con el efecto de transicion*/
.calculadora {
    opacity: 0.4;
    transform: scale(0.8);
    transition: all 0.4s ease;
}
/*Calculadora que estara activa*/
.calculadora.activa {
    opacity: 1;
    transform: scale(1);
}
/*Boton de navegacion*/
.nav {
    position: fixed;
    bottom: 0px;
    transform: translateY(-50%);
    background: #222;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 50px;
}
/*Botones de navegacion*/
.prev { left: 0; }
.next { right: 0; }
