/*Esta hoja de estilos incluye las propiedades de los contenedores comunes*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
/*Asignacion de largo personalizado a todas las calculadoras*/
#calc1 {
    width: 250px;
}
#calc2 {
    width: 300px;
}
#calc3 {
    width: 250px;
}
#calc4 {
    width: 300px;
}
/*Crea una calculadora, al añadir una nueva se ordenaran todos los botones solos*/
.calculadora {
    position: relative;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}
/*Pantalla de todas las calculadoras, se pone justo despues del titulo y antes de los botones, el largo
se ajustara automaticamente, si quieres ajustar la altura se debe hacer con los id */
.pantalla {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100px;
    align-content: center;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    overflow-x: auto;
    overflow-y: auto;
}
/*Zona de la parte baja que incluye los botones para moverse por el carrusel y el boton de modo oscuro*/
.zonaBaja {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0px;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}
/*Zona alta que incluira la base para la calculadora de programador cuando se este en ella*/
.zonaAlta {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
    width: 100%;
    height: 100px;
}
/*Base de la calculadora de programador*/
#Base {
    position: relative;
    margin: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    font-weight: bolder;
}
/*Titulo de las calculadoras*/
h2{
    font-size: 50px;
    text-align: center;
    margin: 0px;
}
/*Estilo para el select de la calculadora de fechas, de momento unicamente se usa ahi*/
select {
    margin: 10px;
    width: 70px;
    height: 35px;
    background-color: lightgrey;
}
.vacio {
    border: none;
}
