/*Hoja de estilos para el modo oscuro*/
body {
	background-color: black;
}
.calculadora {
	border: 3px solid white;
}
#calc1 {
	background-color: lightgray;
}
#calc2 {
	background-color: lightgreen;
}
#calc3 {
	background-color: lightseagreen;
}
#calc4 {
	background-color: blueviolet;
}
.pantalla {
	background-color: black;
	border: 3px solid white;
	color: white;
}
.boton {
	border: 3px solid white;
	color: white;
}

.toggle {
	background-color: black;
	color: white;
	border: 3px solid white;
}
#Base {
	color: white;
	background-color: pink;
	border: 3px solid white;
}
.vacio {
	border: none;
}

