/*Hoja de estilos para el modo claro*/
body {
	background-color: white;
}
.calculadora {
	border: 3px solid black;
}
#calc1 {
	background-color: grey;
}
#calc2 {
	background-color: beige;
}
#calc3 {
	background-color: indianred;
}
#calc4 {
	background-color: yellow;
}

.pantalla {
	background-color: white;
}
.boton {
	border: 3px solid black;
}
#Base {
	background-color: brown;
	color: black;
	border: 3px solid black;
}
.vacio {
	border: none;
}


