/*Esta hoja contiene las asignaciones personalizadas para un contendor en especifico*/
#calc1 {
    width: 250px;
}
#calc5 {
    width: 350px;
}

#pnt5 {
    height: 200px;
    font-size: 20px;
}
#pnt6 {
    height: 150px;
    font-size: 20px;
}

#calc7 {
width: 400px;
}
#pnt7{
    height: 200px;
    font-size: 20px;
}
#pnt8 {
    height: 200px;
    font-size: 20px;
}

#calc10 {
    justify-content: space-around;
}
#pnt10 {
    height: 150px;
    margin-bottom: 10px;
    font-size: 30px;
}
#pnt11 {
    height: 100px;
    font-size: 20px;
    white-space: pre-line;
}

#divisas {
    position: absolute;
    display: none;
    width: 30%;
    left: 5px;
    top: 20px;
    bottom: 20px;
    z-index: 17;
    overflow-y: scroll;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

#calculadoras {
    position: absolute;
    display: none;
    width: 40%;
    left: 5px;
    top: 20px;
    bottom: 20px;
    z-index: 14;
}

.contenedorPokemonActivo {
    scale: 1.25;
}