input {
    margin: 10px;
    height: 20px;
    width: 100%;
}
select {
    margin: 10px;
    width: 100%;
    height: 50px;
}
#calc3 input {
    height: 20px;
}
#calc4 select {
    margin: 10px;
    width: 70px;
    height: 35px;
}
#calc4 #tipoCalculo {
    width: 100%;
    height: 35px;
}
#horas, #minutos, #segundos {
    width: 50px;
    height: 50px;
}

#calc5 input,
#calc5 select{
    width: 80%;
    height: 25px;
}

#calc7 select, #calc7 input {
    height: 20px;
}
