/*Esta hoja de estilos incluye los estilos de los botones*/

/*Boton general para crear un boton vacio, no tiene fondo ni bordes*/
.boton {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin: 10px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    align-content: center;
}
/*Hace una animacion al pasar por un boton*/
.boton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/*Boton para borrar el contenido de la pantalla de la calculadora, color rojo */
.botonCE {
    font-size: 20px;
}
/*Boton para borrar el ultimo caracter*/
.botonC {
    font-size: 20px;
}
/*Boton para cambiar de estilo entre claro y oscuro*/
.toggle {
    position: fixed;
    height: 100px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    right: 40%;
    left: 40%;
    bottom: 0px;
}
/*Boton de conversion entre bases de la calculadora de programador*/
.conversion{
    font-size: 20px;
}
/*Select para la calculadora de divisas*/
.SelectDivisa {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
}
/*Boton vacio, se puede usar si quieres dejar un espacio vacio sin que lo ocupe el siguiente boton*/
.vacio {
    transition: none;
    border: none;
}
.vacio:hover {
    transform: none;
    cursor: default;
}
/*Boton de enviar para el calculo de fechas*/
.enviar {
    width: 100%;
    height: 100px;
    font-size: 80px;
    text-align: center;
    align-content: center;
    font-weigth: bolder;
}
/*Seleccionador del tipo de calculo para la calculadora de fechas*/
#tipoCalculo {
    width: 100%;
}

