/*Esta hoja contiene las asignaciones personalizadas para un contendor en especifico*/
#calc1 {
    width: 250px;
}
#calc2 {
    width: 300px;
}
#calc3 {
    width: 300px;
}
#calc4 {
    width: 300px;
}
#calc5 {
    width: 350px;
}
#pnt5 {
    height: 200px;
    font-size: 20px;
}
#calc5 input {
    width: 80%;
}
#calc5 select {
    width: 80%;
}

/*Base de la calculadora de programador*/
#Base {
    position: absolute;
    margin: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    font-weight: bolder;
    top: 20px;
    left: 5px;
    z-index: 5;
}
#calc4 select {
    margin: 10px;
    width: 70px;
    height: 35px;
}
#calc4 #tipoCalculo {
    width: 100%;
}