/*Esta hoja contiene las asignaciones personalizadas para un contendor en especifico*/
.calculadora {
    width: 300px;
}
#calc1 {
    width: 250px;
}
#calc5 {
    width: 350px;
}
#pnt5 {
    height: 200px;
    font-size: 20px;
}
#pnt6 {
    height: 150px;
    font-size: 20px;
}
#calc5 input {
    width: 80%;
}
#calc5 select {
    width: 80%;
}

/*Base de la calculadora de programador*/
#Base {
    position: absolute;
    margin: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    font-weight: bolder;
    top: 20px;
    left: 5px;
    z-index: 5;
}
#calc4 select {
    margin: 10px;
    width: 70px;
    height: 35px;
}
#calc4 #tipoCalculo {
    width: 100%;
}
#calc7 input,
#calc7 select{
    width: 100%;
    margin: 10px;
}
#calc7 p{
    text-align: left;
}
#calc7 {
width: 400px;
}
#pnt7{
    height: 200px;
    font-size: 20px;
}
#pnt8 {
    height: 200px;
    font-size: 20px;
}