/*Esta hoja de estilos incluye las propiedades de los contenedores comunes*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #111;
    font-family: Arial, sans-serif;
    margin: 0;
}

/*Crea una calculadora, al añadir una nueva se ordenaran todos los botones solos*/
.calculadora {
    position: relative;
    border-radius: 10px;
    top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
}
/*Pantalla de todas las calculadoras, se pone justo despues del titulo y antes de los botones, el largo
se ajustara automaticamente, si quieres ajustar la altura se debe hacer con los id */
.pantalla {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100px;
    align-content: center;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    overflow-x: auto;
    overflow-y: auto;
    border: 3px solid black;
}
/*Titulo de las calculadoras*/
h2{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
/*Base de la calculadora de programador*/
#Base {
    position: absolute;
    margin: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    font-weight: bolder;
    top: 20px;
    left: 5px;
    z-index: 5;
}
input {
    margin: 20px;
    height: 30px;
}
/*Boton de mostrar informacion fijo en cada calculadora, en la esquina superior derecha*/
#inf {
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
}
/*Contenedor que contiene la informacion de las calculadoras*/
#contInf {
    position: absolute;
    right: 20px;
    top: 5px;
    bottom: 75%;
    width: 25%;
    z-index: 10;
    padding: 20px;
    font-weight: bolder;
    display:none;
    overflow-y: auto;
    white-space: pre-line;
}
/*Boton de ocultar informacion dentro del contenedor de informacion*/
#ocultarInfo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
#calculadorasBoton {
    position: fixed;
    left: 5px;
    top: 35%;
    width: 20%;
    height: 10%;
    z-index: 5;
    overflow: hidden;
}
#calculadoras {
    position: absolute;
    display: none;
    width: 40%;
    left: 5px;
    top: 20px;
    bottom: 20px;
    z-index: 14;
}
.calculadoraMenu {
    position: relative;
    width: 95%;
    margin: 10px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-weight: bolder;
}
#mostrarDivisas {
    position: absolute;
    margin: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:  20px;
    font-weight: bolder;
    top: 20px;
    left: 5px;
    z-index: 5;
}
#divisas {
    position: absolute;
    display: none;
    width: 30%;
    left: 5px;
    top: 20px;
    bottom: 20px;
    z-index: 17;
    overflow-y: scroll;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}
#divisas p {
    margin: 3px;
}
#limpiar {
    position: fixed;
    left: 5px;
    top: 22.5%;
    width: 20%;
    height: 10%;
    z-index: 5;
    overflow: hidden;
}
.pkm {
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}

.boton {
    width: 50px;      /* tamaño del botón */
    height: 50px;
    display: inline-block;
    background-size: cover;   /* ajusta la imagen al div */
    background-position: center;
    margin: 5px;
    cursor: pointer;
}

/* Tipos */
#bicho    { background-image: url('../img/Pokemon_Type_Icon_Bug.png'); }
#siniestro{ background-image: url('../img/Pokemon_Type_Icon_Dark.png'); }
#dragon   { background-image: url('../img/Pokemon_Type_Icon_Dragon.png'); }
#electrico{ background-image: url('../img/Pokemon_Type_Icon_Electric.png'); }
#hada     { background-image: url('../img/Pokemon_Type_Icon_Fairy.png'); }
#lucha    { background-image: url('../img/Pokemon_Type_Icon_Fighting.png'); }
#fuego    { background-image: url('../img/Pokemon_Type_Icon_Fire.png'); }
#volador  { background-image: url('../img/Pokemon_Type_Icon_Flying.png'); }
#fantasma { background-image: url('../img/Pokemon_Type_Icon_Ghost.png'); }
#planta   { background-image: url('../img/Pokemon_Type_Icon_Grass.png'); }
#tierra   { background-image: url('../img/Pokemon_Type_Icon_Ground.png'); }
#hielo    { background-image: url('../img/Pokemon_Type_Icon_Ice.png'); }
#normal   { background-image: url('../img/Pokemon_Type_Icon_Normal.png'); }
#veneno   { background-image: url('../img/Pokemon_Type_Icon_Poison.png'); }
#psiquico { background-image: url('../img/Pokemon_Type_Icon_Psychic.png'); }
#roca     { background-image: url('../img/Pokemon_Type_Icon_Rock.png'); }
#acero    { background-image: url('../img/Pokemon_Type_Icon_Steel.png'); }
#agua     { background-image: url('../img/Pokemon_Type_Icon_Water.png'); }
#bicho, #siniestro, #dragon, #electrico, #hada, #lucha, #fuego, #volador,
#fantasma, #planta, #tierra, #hielo, #normal, #veneno, #psiquico, #roca, #acero, #agua {
    border: none;
}
.contenedorPokemonActivo {
    scale: 1.25;
}