/*Contenedor para cada operacion incluida en el historial*/
.operacion {
    width: 90%;
    height: auto;
    z-index: 2000;
    margin: 10px;
}
/*Contenido del historial*/
#historial {
    box-sizing: border-box;
    width: 40%;
    margin: 10px;
    position: fixed;
    display: none;
    left: 0px;
    top: 3px;
    bottom: 3px;
    font-size: 50px;
    align-content: space-between;
    overflow-y: auto;
    z-index: 1;
}
/*Boton para mostrar y ocultar el historial*/
.botonHist {
    z-index: 4;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 40%;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}